{% extends 'yotodo/base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <div class="container-fluid">
            <span style="font-size: 24px;">YoToDo</span>
        </div>
        <div class="container-fluid">
            <a class="navbar-brand ms-auto me-auto" href="{% url 'welcome' %}">На главную</a>
        </div>
        <div class="container-fluid">
            <a id="logout-link" class="navbar-brand ms-auto" href="{% url 'logout' %}">Выйти</a>
        </div>
    </nav>
</div>

<div class="center-div">
    <a class="btn-main btn-main-rounded" href="{% url 'history' %}">К завершенным задачам</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 offset-md-2">
      <div class="d-flex justify-content-center align-items-center max-w-md">
          <form action="{% url 'main' %}" method="post" id="task">
              {% csrf_token %}
              <input type="hidden" name="user" value="{{ user.id }}">
              <div class="mb-3">
                  <label class="form-label" for="{{ form.title.id_for_label }}">{{ form.title.label }}: </label>
                  {{ form.title|add_class:"form-control"|attr:"placeholder:Введите текст задачи" }}
              </div>
              <div class="form-error">{{ form.title.errors }}</div>

              <label class="form-label">Уровень важности:</label>
              <div class="mb-3">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="lvl" id="easy" value="3">
                      <label class="form-check-label" for="easy">Низкая</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="lvl" id="medium" value="2">
                      <label class="form-check-label" for="medium">Средняя</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="lvl" id="hard" value="1">
                      <label class="form-check-label" for="hard">Высокая</label>
                  </div>
              </div>
              <div class="form-error">{{ form.lvl.errors }}</div>

              <label class="form-label">Закрепить задачу?</label>
              <div class="mb-3">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="isfixed" id="yes" value="True">
                      <label class="form-check-label" for="yes">Да</label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="isfixed" id="no" value="False">
                      <label class="form-check-label" for="no">Нет</label>
                  </div>
              </div>
              <div class="form-error">{{ form.isfixed.errors }}</div>

              <div class="mb-3">
                  <label class="form-label" for="{{ form.description.id_for_label }}">{{ form.description.label }} (опционально): </label>
                  {{ form.description|add_class:"form-control"|attr:"placeholder:Опишите поставленную задачу" }}
              </div>
              <div class="form-error">{{ form.description.errors }}</div>
              <button class="gradient-button" type="submit">Добавить задачу</button>
          </form>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container">
        <div class="mx-auto">
            <div class="justify-content-center align-items-center max-w-md">
                <p>Ваши задачи:</p>
                {% if lentasks > 0 %}
                {% for task in tasks %}
                {% if task.isfixed == True %}
                  <div class="card mb-3">
                      <div class="card-header accordion-header d-flex justify-content-between align-items-center">
                        <div style="flex-grow: 1;">Задача: {{ task.title }}</div>
                        <div>
                            {% if task.lvl == 1 %}
                                <div class="lvl-red marright">Высокая важность</div>
                            {% elif task.lvl == 2 %}
                                <div class="lvl-yel marright">Средняя важность</div>
                            {% else %}
                                <div class="lvl-gre marright">Низкая важность</div>
                            {% endif %}
                            <span class="arrow-down"></span>
                        </div>
                      </div>
                      <div class="card-body accordion-body question-input">
                          <p>{{ task.description }}</p>
                          <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                              <div class="status mb-3 mb-md-0">Задача добавлена: {{ task.created_at.date }}</div>
                              {% if task.isfixed == 1 %}
                              <form method="post" action="{% url 'unfixed_task' task.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Открепить</button>
                              </form>
                              {% else %}
                              <form method="post" action="{% url 'fixed_task' task.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">Закрепить</button>
                              </form>
                              {% endif %}
                              <form method="post" action="{% url 'complete_task' task.pk %}">
                                  {% csrf_token %}
                                  <button type="submit" class="done-button btn btn-success">Я закончил эту задачу!</button>
                              </form>
                          </div>
                      </div>
                  </div>
                {% endif %}
                {% endfor %}

                {% for task in tasks %}
                {% if task.isfixed == False %}
                  <div class="card mb-3">
                      <div class="card-header accordion-header d-flex justify-content-between align-items-center">
                        <div style="flex-grow: 1;">Задача: {{ task.title }}</div>
                        <div>
                            {% if task.lvl == 1 %}
                                <div class="lvl-red marright">Высокая важность</div>
                            {% elif task.lvl == 2 %}
                                <div class="lvl-yel marright">Средняя важность</div>
                            {% else %}
                                <div class="lvl-gre marright">Низкая важность</div>
                            {% endif %}
                            <span class="arrow-down"></span>
                        </div>
                      </div>
                      <div class="card-body accordion-body question-input">
                          <p>{{ task.description }}</p>
                          <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center">
                              <div class="status mb-3 mb-md-0">Задача добавлена: {{ task.created_at.date }}</div>
                              {% if task.isfixed == 1 %}
                              <form method="post" action="{% url 'unfixed_task' task.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success">Открепить</button>
                              </form>
                              {% else %}
                              <form method="post" action="{% url 'fixed_task' task.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary">Закрепить</button>
                              </form>
                              {% endif %}
                              <form method="post" action="{% url 'complete_task' task.pk %}">
                                  {% csrf_token %}
                                  <button type="submit" class="done-button btn btn-success">Я закончил эту задачу!</button>
                              </form>
                          </div>
                      </div>
                  </div>
                {% endif %}
                {% endfor %}
                {% else %}
                У вас пока нет задач
                {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'yotodo/js/acc.js' %}"></script>
{% endblock %}

