{% extends 'yotodo/base.html' %}
{% load static %}

{% block content %}
<div class="container container-go">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <span style="font-size: 24px;">YoToDo</span>
    </div>
    <div class="container-fluid">
      <a style="font-size: 30px;" class="black-nigga ms-auto me-auto">Добро пожаловать!</a>
    </div>
    <div class="container-fluid">
      <a class="navbar-brand ms-auto" href="https://t.me/fwhyjke">Контакт</a>
    </div>
  </nav>
</div>

  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
      <div class="mx-auto text-center">
        <h1>Твой личный задачник</h1>
        <p>Захотел начать систематизировать задачи, чтобы выполнять больше? Тогда тебе точно к нам!</p>
        <button type="button" class="gradient-button-wel glow-on-hover" onclick="window.location.href='{% url 'main' %}'">ВПЕРЕД!</button>
      </div>
    </div>
  </div>
<div class="mx-auto text-center position-absolute bottom-0 w-100">
    <a class="bottom-link" href="https://t.me/fwhyjke">created by <i>fwhyjke</i></a>
</div>
{% endblock %}
